<div id="<%= dom_id estudiante %>">
  <div>
    <strong>Nombre:</strong>
    <%= estudiante.nombre %>
  </div>

  <div>
    <strong>Curso:</strong>
    <%= estudiante.curso %>
  </div>

  <div>
    <strong>Taller:</strong>
    <%= estudiante.taller_id %>
  </div>

</div>
